body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efefef;
}
header {
  height: 60px;
  width: 100%;
  margin-left: 10px;
  border-style: ridge;
  border-radius: 25px;
  background-color: white;
  padding-bottom: 10px;
}
.menu a {
  color: #2035bb;
  margin-left: 20vh;
}
.menu {
  color: #2035bb;
  margin-top: 15px;
}
* {
  box-sizing: border-box;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  width: 50%;
  padding: 12px 20px;
  margin: 20px 0;

  border: 0.5px solid black;
}
p {
  margin-top: 0.2px;
  font-size: 18px;
}

hr {
  border: 1px solid #f3f3f3;
  margin-bottom: 25px;
  margin-left: 30px;
}

button {
  background-color: #73a9f1;
  color: white;
  padding: 12px 18px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 25px;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #ea4825;
}

.cancelbtn,
.signupbtn,
.signbtn {
  float: left;
  width: 50%;
}
.signbtn {
  background-color: white;
  color: black;
}
.signupbtn {
  font-size: 12px;
  height: 40px;
}
.cancelbtn {
  color: black;
  font-size: 12px;
  height: 40px;
}
.container {
  padding: 16px;
  margin-left: 50px;
  margin-right: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.link {
  color: #2035bb;
  text-align: center;
}
form {
  border: 2px solid black;
  text-align: center;
  box-sizing: 20px;
  width: 50%;
  margin-left: 23%;
}

.submit {
  width: 350px;
  height: 40px;
  margin: 10px;
  border-radius: 25px;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
