@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
.fb {
  background-color: #3b5998;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  opacity: 0.85;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  width: 70%;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.signinbtnn {
  width: 100%;
  padding: 12px;
  border: 0.5px solid #2035bb;
  color: #2035bb;
  border-radius: 25px;
  display: inline-block;
  font-size: 15px;
  line-height: 10px;
  text-decoration: none;
  width: 70%;
  margin-top: 20px;
}
.loginbtnn {
  width: 100%;
  padding: 5px;
  color: #2035bb;
  display: inline-block;
  font-size: 15px;
  line-height: 10px;
  text-decoration: none;
  width: 100%;
  margin-top: 30px;
}
